.btn{
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 2px;
    margin: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn2{
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 2px;
    margin: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}