/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
	  background-color: #F0E68C;
	  height:100px;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button1 {
		background-color: #4CAF50;
    width: 100px;
		border: none;
		color: white;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 13px;
		margin: 4px 2px;
		cursor: pointer;
	}


	.button2 {
		background-color: #DC143C;
    width: 100px;
		border: none;
		color: white;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 13px;
		margin: 4px 2px;
		cursor: pointer;
	}



	table.db-table 		{ border-right:1px solid #ccc; border-bottom:1px solid #000000; }
	table.db-table th	{ background:#000000; padding:10px; border-bottom:1px solid #000000; color:#ffffff;}
	table.db-table td	{ padding:10px; color:#ffffff;}
